# Ignore target directory with compiled code
/target/

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Maven
.mvn/
mvnw
mvnw.cmd